<td class="right">
  <%- unless current_user -%>
  <div class="indent alt">
    <div class="text">
      <a class="bigButton" href="/signup"><span>Sign Up to Get Involved</span></a>
    </div>
  </div>
  <%- end -%>
  <div class="indent">
    <img src="/images4/GTD_right_bgTop.gif" alt="" />
    <div class="text">
      <h2 class="title">Recent Projects</h2>
      <%= render :partial => Project.find(:all, :order => 'created_at desc', :limit => 3) %>
      <div class="links">
        <a href="/projects">View All</a>
      </div>
    </div>
    <img src="/images4/GTD_right_bgBot.gif" alt="" />
  </div>
</td>