<td class="left">
  <div class="indent">
    <div class="rabbitTrail">about</div>
    <div class="topBox">
      <h1 class="title">About Us</h1>
      <div class="text">
        <p>This section is all <q>about us</q>.  We need some content to go right here.</p>
      </div>
      <div class="links">
        <a href="/contact">Contact us</a>
        <a href="/users/new">Get Involved</a>
      </div>
    </div>
    <div class="lowerBox">
      <h1 class="title">Interesting Facts</h1></div>
      <div class="text">
        <p>I got nothing man.</p>
      </div>
    </div>
  </div>
</td>
<%= render :partial => 'right_bar' %>
