%td.left
  .indent
    .rabbitTrail
      about
    .topBox
      %h1.title
        About Us
      .text
        %p
          This section is all
          %q
            about us
          \.  We need some content to go right here.
      .links
        %a{ :href => "/contact" }
          Contact us
        %a{ :href => "/users/new" }
          Get Involved
    .lowerBox
      %h1.title
        Interesting Facts
    .text
      %p
        I got nothing man.
= render :partial => 'right_bar'
