<td class="left">
  <div class="indent">
    <div class="rabbitTrail">home</div>
    <div class="topBox">
      <h1 class="title">Welcome to Global Tech Dev<span class="subtitle">Use your programming skills to change the world!</span></h1>
      <div class="text">
        <p>GTD is a site that allows members to connect on what projects they are working on.</p>
        <p>The purpose of GTD is to help you connect with other people interested in expanding ministry ideas around the globe.</p>
        <p><a href="/users/login">Login</a> or <a href="/users/new">Signup</a> to get involved.</p>
      </div>
      <div class="links">
        <a href="/about">Read more</a>
        <a href="/users/new">Get Involved</a>
      </div>
    </div>

    <div class="lowerBox">
      <h1 class="title">What can I do?</h1>
      <ul class="links_mid">
        <li class="links_mid1">
          <span>Collaborate on a project.<a href="/projects">join an existing project</a></span>
        </li>
        <li class="links_mid2">
          <span>Have your own idea?<a href="/projects/new">create a new project</a></span>
        </li>
      </ul>
    </div>

  </div>
</td>
<%= render :partial => 'right_bar' %>