<td class="utility">
  <div class="indent">
    <div class="rabbitTrail">login</div>
      <div class="topBox">

    	<h1 class="title">Login<span class="subtitle">You must login to continue!</span></h1>
    	<div class="text">
	      <%- if flash[:error] -%>
	      <p><%= flash[:error] %></p>
	      <%- end -%>
				<p>Enter your email and password below, or <a href="/signup">click here to sign up</a>.</p>
	      <%- form_tag '/sessions/create', :id => 'login' do  -%>
    			<table class="form_TABLE">
    				<tr><td class="col1"><label>E-mail:</label></td>	<td class="col2"><input type="text" name="username" size="40" /></td></tr>

    				<tr><td class="col1"><label>Password:</label></td>	<td class="col2"><input type="password" name="password" size="40" /></td></tr>
    							</table>
    			<div class="inputFake">
    				<a class="link" href="#" onclick="document.getElementById('login').submit(); return false;">Login</a>
    			</div>
        <%- end -%>
    	</div>

    </div>
  </div>
</td>