<td class="left"><div class="indent"><div class="rabbitTrail">create project</div>
<div class="topBox">
  <h1 class="title">Create a new project</h1>
  <div class="text">
    <p>Go ahead. Change the World.  Please fill out all fields completely before hitting <q>submit</q>.  Have questions?  <a href="/contact">Contact us</a>.</p>
  </div>
  <div class="links">
    <a href="/projects">Back to all projects</a>
  </div>
</div>
<div class="lowerBox">
  <div class="text">
    <% form_for @project do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>

      <div class="inputFake">
        <%= link_to_function 'Create Project', 'document.getElementById("new_project").submit();' %>
      </div>
    <% end %>
  </div>
</div>

</div></td>
<%= render :partial => 'dashboard/right_bar' %>

