<div class="indent">
<div class="rabbitTrail">projects</div>
<div class="topBox">
  <h1 class="title"><div><a href="?id=12&amp;action=prev">« Previous</a> <a href="?id=12&amp;action=next">Next »</a></div>New Test Project</h1>
  <div class="text">
    <div class="project">
      <table class="common_TABLE">
        <thead>
          <tr><th colspan="2"/></tr> <!-- important for the top border -->
        </thead>
        <tfoot>
          <tr><td colspan="2"><div class="tableLinks"><a href="/user/projectSignup.php?id=12">Get Involved</a></div></td></tr>
        </tfoot>
        <tbody>
          <tr><td class="col1">Purpose</td>     <td class="col2"><% @project.purpose %></td></tr>
          <tr><td class="col1">Created</td>     <td class="col2">Nov 4, 2008</td></tr>
          <tr><td class="col1">Project Type</td>    <td class="col2">Idea</td></tr>
          <tr><td class="col1">Description</td>   <td class="col2"/></tr>
          <tr><td class="col1">Skills Needed</td>   <td class="col2">none</td></tr>
          <tr><td class="col1">Resources Needed</td>  <td class="col2"/></tr>
          <tr><td class="col1">Estimated Length</td>  <td class="col2">2 months, 12 days</td></tr>
          <tr><td class="col1">Status</td>      <td class="col2">tired</td></tr>
          <tr><td class="col1">Scope</td>       <td class="col2">Small</td></tr>
          <tr><td class="col1">Seeking Volunteers</td><td class="col2">N</td></tr>
          <tr><td class="col1">Hiring</td>      <td class="col2">N</td></tr>
          <tr><td class="col1">Website</td>     <td class="col2"><a target="_blank" href="http://www.nathanakers.net">http://www.nathanakers.net</a></td></tr>
          <tr class="last"><td class="col1">Hosting home</td>   <td class="col2">Other</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="lowerBox">
  <h1 class="title">Project members</h1>
  <div class="text">        <ul class="projectMembers">
          <li>
            <img alt="profile picture" src="images/page1_img3.jpg"/>
            <div class="memberInfo">
              <a href="user/profile.php?id=7">Nathan Akers</a> (Owner)
              <div class="memberSince">Member since: Nov 4, 2008</div>
              <div class="bio">As Steven Wright always says: The early bird gets the worm, but the second mouse gets the cheese. And also: ambition is a poor excuse for not having enough sense to be lazy. Not to mention: Eagles may soar, but weasels don't get sucked into jet engines.
</div>
            </div>
          </li>
        </ul>       <ul class="projectMembers">
          <li>
            <img alt="profile picture" src="images/"/>
            <div class="memberInfo">
              <a href="user/profile.php?id=21">David Sudarma</a> (Member)
              <div class="memberSince">Member since: Jan 23, 2009</div>
              <div class="bio"/>
            </div>
          </li>
        </ul> </div>
</div>

</div>
